# OS junk
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Windows User Directories
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
Pictures/
Videos/
Saved Games/
Searches/
OneDrive/
3D Objects/
IntelGraphicsProfiles/

# System Files
NTUSER.DAT*
ntuser.dat*
*.LOG1
*.LOG2
*.ini
*.blf
*.regtrans-ms
*.TM.blf
*.TMContainer*

# Personal Config Files
.bash_history
.gitconfig
.yarnrc
.lesshst

# IDE and Editor Directories
.codegpt/
.config/
.cursor/
.dbclient/
.gk/
.sonarlint/
.trae-aicc/
.trae/
.vscode/
.wdc/

# Other
BullseyeCoverageError.txt
daily-tasks/
small-task/
Herd/

# Environment files
.env
.env.backup
.env.production
.env.testing

# Tooling / editors
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.cursor
/.codegpt

# Composer / NPM
/vendor
/node_modules

# Laravel build artifacts
/bootstrap/cache/*.php
/public/build
/public/hot
/public/storage
/storage/app/public
/storage/framework/cache/*.php
/storage/framework/sessions/*.php
/storage/framework/testing
/storage/logs/*.log
/storage/*.key
/storage/pail

# Misc auth/config
/auth.json
Homestead.json
Homestead.yaml
